* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: rgb(5, 151, 103);
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

nav {
    background-color: rgb(12, 90, 90);
    width: 30%;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 0;
}

nav ul li {
    text-align: center;
}

nav a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(2vw);
    font-weight: bold;
    color: black;
}

main {
    width: 70%;
    background-color: rgb(76, 160, 160);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main h1 {
    font-size: calc(5vw - 2vh);
    text-align: center;
    padding: 1%;
}

main p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: black;
    font-size: calc(2vw - 2px);
}

img {
    margin: 0% 5% 5% 5%;
    max-width: 50%;
    max-height: 70%;
    padding: 5px;
}

header {
    background-color: rgb(5, 82, 5);
    padding: 10px;
}

header p {
    padding-left: 5%;
}

footer {
    margin-top: auto;
    padding: 2%;
    background-color: rgb(5, 82, 5);
}

@media screen and (max-width: 750px) {
    .wrapper {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: auto;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li {
        padding: 10px 0;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 30%;
        max-height: 50%;
    }
    footer {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }
}
