* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: rgb(5, 151, 103);
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

nav {
    background-color: rgb(12, 90, 90);
    width: 30%;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 0;
}

nav ul li {
    text-align: center;
}

nav a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(2vw);
    font-weight: bold;
    color: black;
}

main {
    width: 70%;
    background-color: rgb(76, 160, 160);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

main h1 {
    text-align: center;
    padding-bottom: 5%;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(173, 137, 206);
    padding: 20px;
    gap: 15px;
    width: 80%;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
}

.grid-header {
    font-weight: bold;
    text-decoration: underline;
}

header {
    background-color: rgb(5, 82, 5);
    padding: 10px;
}

header p {
    padding-left: 5%;
}

footer {
    margin-top: auto;
    padding: 2%;
    background-color: rgb(5, 82, 5);
}

@media screen and (max-width: 750px) {
    .wrapper {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: auto;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li {
        padding: 10px 0;
    }

    .container {
        width: 80%;
    }
    
    header {
        text-align: center;
    }

    header p {
        padding: 0%;
    }

    footer {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }
}

